.centerImage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  background-color: black !important;
}

.openingHour {
  color: white;
  font-size: 12x;
}

.social{
  color: white;
  font-size: 25px;
}
