.titleicon {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: left;
}


.logo {
  align-self: flex-start;
  text-align: center;
}


.title {
  align-self: center;
  text-align: center;
}

.centerImage {
  display: flex;
  align-items: center;
  justify-content: center;
}
